# Byte-compiled files
__pycache__/
*.py[cod]

# PyInstaller output
/build/
/dist/
*.spec

# Virtual environment
venv/
env/

# Python cache and logs
*.log
*.pot
*.pyc
*.pyo

# Environment variables
.env
*.env

# System files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.iml

# Other backups or temporary files
*.bak
*.swp
*.tmp
~$*
